.Wukong {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
}

.Ashe {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
}
.Blitzcrank {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}
.Galio {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}
.Gangplank {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}
.Kayle {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}

.Lulu {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}

.Lux {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}

.Nasus {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}

.Poppy {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}


.Renekton {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}

.Sylas {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}

.Talon {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
    
}