.Annie {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}

.Camille {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}

.Draven {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.Ezreal {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.Fiora {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.Jinx {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.LeeSin {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.Malphite {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.Rell {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.Sivir {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.Vi {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.Yasuo {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.Yuumi {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}