.Alistar {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Chogath {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Jax {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Kaisa {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Leblanc {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Nilah {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}.Rammus {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Riven {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Senna {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Sona {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Vayne {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Velkoz {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}
.Zoe {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}