.AurelionSol {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}

.BelVeth {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.Ekko {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.MissFortune {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.Samira {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.Sejuani {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.Sett {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.Soraka {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.Taliyah {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.Viego {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.Zac {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}
.Zed {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
     margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}