.Aphelios {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(245, 188, 86)
}
.Fiddlesticks {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(245, 188, 86)
}
.Janna {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(245, 188, 86)
}
.Leona {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(245, 188, 86)
}
.Mordekaiser {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(245, 188, 86)
}
.Nunu {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(245, 188, 86)
}
.Syndra {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(245, 188, 86)
}
.Urgot {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 5px solid rgb(245, 188, 86)
}