@import "./styles/2cost.scss";
@import "./styles/1costicon.scss";
@import "./styles/3cost.scss";
@import "./styles/4cost.scss";
@import "./styles/5cost.scss";
@import "./styles/userRank.scss";
@import "./styles/userInfo.scss";

nav {
    background-color: rgb(53, 54, 58);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#mini-nav{
    display: flex;
    justify-content: left;
    height: 40px;
    background-color: rgb(40, 41, 42);
    padding-bottom: 13px;
}

#title {
    display: flex;
    padding-top: 10px;
    margin-top: 0.3%;
    margin-left: 30px;
}

#username-input {
    height: 22 px;
    width: 150px;
    margin-top: 20px;
}

#search-button {
    width: 13px;
    height: 13px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: adjust-hue($color: #26044f, $degrees: 0);
    color: white;
}

.User-Info {
    margin-bottom: 30px;
}


#match-histry {
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;

}


canvas {    
    max-width: 375px;
    max-height: 375px;
}

#units-played {
    border-radius: 15px;
    max-width: 900px;
    max-height: 600px;
    background-color: rgb(55, 44, 98);
    padding: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#table {
    display: grid;
    border-radius: 15px;
    padding: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: rgb(55, 44, 98);
}


#last20gamestext {
    padding-left: 30px;
}

#about {
    background-color: rgb(53, 54, 58);
    font-size: larger;
    margin-right: 25px;
    padding-top: 20px;
    font-weight: bold;
}

div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
}

#units-played-chart {
    width: 900px;
}

#youtube-vid {
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 103px;
}



#header {
    display: flex;
    justify-content: center;
   
}

#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
}

.modals {
        display: flex;
        position: absolute;
        top: 20%;
        background-color: rgb(55, 44, 98);
        border-radius: 10px;
        max-width: 750px;
        height: 400px;
        z-index: 2;
}

.modals .flex {
    display: flex;
    align-items: center;
    justify-content: end;
}

.modals p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5%;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    margin-left: 5%;
    padding-bottom: 10%;
    background-color: rgb(53, 54, 58);
    color: white;
    font-family: sans-serif;
    font-size: large;
}

.btn-close {
    margin-right: 20px;
    margin-top: 20%;
    background: #eee;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.hidden {
    display: none;
}

#gif{
    display: flex;
    justify-content: center;
}

#intro{
    margin-right: 50px;
}

#booton {
    display: flex;
    justify-content: end;
    align-content: center;
    margin-top: -170px;
}

#koi{
    background-color: black;
    width: 50px;
    height: 50px;
    // margin-right: 1%;
    margin-right: 10px;
    margin-top: 10px;
}

#diesofpanda{
    width: 400px;
}

#koi:hover {
    animation: shake-tilt 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake-tilt {
  0% { transform: translateX(0) rotate(0deg); }
  10% { transform: translateX(-10px) rotate(-5deg); }
  20% { transform: translateX(10px) rotate(5deg); }
  30% { transform: translateX(-10px) rotate(-5deg); }
  40% { transform: translateX(10px) rotate(5deg); }
  50% { transform: translateX(-10px) rotate(-5deg); }
  60% { transform: translateX(10px) rotate(5deg); }
  70% { transform: translateX(-10px) rotate(-5deg); }
  80% { transform: translateX(10px) rotate(5deg); }
  90% { transform: translateX(-10px) rotate(-5deg); }
  100% { transform: translateX(0) rotate(0deg); }
}

img:hover:after {
    content: attr(title);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-size: 500px;
    display: none;
}

img:hover:after {
    display: block;
}

img:not(:hover):after {
    display: none;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    display: block;
    float: none;
}

.dropdown {
    margin-left: 2%;
}

.dropdown-content a {
    margin-left: 10px;
    text-align: center;
}
.dropdown-content {
    position: absolute;
   background-color: rgb(40, 41, 42);
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#github {
    margin-top: 20px;
    width: 40px;
    height: 40px;
}

#linkedin {
    margin-top: 20px;
    width: 34px;
    height: 34px;
}

#github:hover {
    animation: shake-tilt 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake-tilt {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    20% {
        transform: translateX(1px) rotate(1deg);
    }

    30% {
        transform: translateX(-1px) rotate(-1deg);
    }

    40% {
        transform: translateX(1px) rotate(1deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    60% {
        transform: translateX(1px) rotate(1deg);
    }

    70% {
        transform: translateX(-1px) rotate(-1deg);
    }

    80% {
        transform: translateX(1px) rotate(1deg);
    }

    90% {
        transform: translateX(-1px) rotate(-5deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

#linkedin:hover {
    animation: shake-tilt 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake-tilt {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    20% {
        transform: translateX(1px) rotate(1deg);
    }

    30% {
        transform: translateX(-1px) rotate(-1deg);
    }

    40% {
        transform: translateX(1px) rotate(1deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    60% {
        transform: translateX(1px) rotate(1deg);
    }

    70% {
        transform: translateX(-1px) rotate(-1deg);
    }

    80% {
        transform: translateX(1px) rotate(1deg);
    }

    90% {
        transform: translateX(-1px) rotate(-5deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

#title:hover {
    animation: shake-tilt 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake-tilt {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    20% {
        transform: translateX(1px) rotate(1deg);
    }

    30% {
        transform: translateX(-1px) rotate(-1deg);
    }

    40% {
        transform: translateX(1px) rotate(1deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    60% {
        transform: translateX(1px) rotate(1deg);
    }

    70% {
        transform: translateX(-1px) rotate(-1deg);
    }

    80% {
        transform: translateX(1px) rotate(1deg);
    }

    90% {
        transform: translateX(-1px) rotate(-5deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

#about:hover {
    animation: shake-tilt 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake-tilt {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    20% {
        transform: translateX(1px) rotate(1deg);
    }

    30% {
        transform: translateX(-1px) rotate(-1deg);
    }

    40% {
        transform: translateX(1px) rotate(1deg);
    }

    10% {
        transform: translateX(-1px) rotate(-1deg);
    }

    60% {
        transform: translateX(1px) rotate(1deg);
    }

    70% {
        transform: translateX(-1px) rotate(-1deg);
    }

    80% {
        transform: translateX(1px) rotate(1deg);
    }

    90% {
        transform: translateX(-1px) rotate(-5deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}


.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.modal-content {
    background-color:rgb(55, 44, 98);
    margin: auto;
    padding: 20px;
    width: 30%;
    height: 52%;
    border-radius: 10px;
    overflow: scroll;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cost-1-dropdown a {
    display: none;
}

.cost-1-dropdown:hover a {
    display: block;
}

.dropdown-content .cost-1-dropdown a {
    display: none;
}

.dropdown-content:hover .cost-1-dropdown a {
    display: block;
}
