@import "./styles/2cost.scss";
@import "./styles/1costicon.scss";
@import "./styles/3cost.scss";
@import "./styles/4cost.scss";
@import "./styles/5cost.scss";
@import "./styles/userRank.scss";
@import "./styles/userInfo.scss";


nav {
    background-color: rgb(53, 54, 58);
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#title {
    padding-top: 10px;
    margin-left: 20px;
}

#username-input {
    height: 22 px;
    width: 150px;
    margin-top: 20px;
}

#search-button {
    width: 13px;
    height: 13px;
}

.search-bar {
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: large;
    background-color: adjust-hue($color: #26044f, $degrees: 0);
    color: white;
}

.User-Info {
    margin-bottom: 30px;
}


#match-histry {
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;

}


canvas {    
    max-width: 375px;

    max-height: 375px;
}

#units-played {
    border-radius: 15px;
    max-width: 900px;
    max-height: 600px;
    background-color: rgb(55, 44, 98);
    padding: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#table {
    display: grid;
    border-radius: 15px;
    padding: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: rgb(55, 44, 98);
}


#last20gamestext {
    padding-left: 30px;
}

#about {
    background-color: rgb(53, 54, 58);
    font-size: larger;
    margin-right: 25px;
    padding-top: 20px;
    font-weight: bold;

}

div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: rgb(53, 54, 58);
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
}

ul li ul li {
    background: rgb(53, 54, 58);
    display: block;
}

ul li ul li a {
    display: block !important;
}

ul li ul li:hover {
    background: rgb(53, 54, 58);
}
